<div class='container-fluid'>
  <div class="row">

  </div>
  <div class='carousel slide'>
      <ngb-carousel>
          <ng-template ngbSlide>
             <img src="assets/images/n1.jpg" width="100%" height="500"
              class="bd-placeholder-img"
              preserveAspectRatio="xMidYMid slice">
             <div class="container">
              <div class="carousel-caption">
                <h1>Henry David</h1>
                <p>Nature is pleased with simplicity.Adopt the pace of nature. Her secret is patience.</p>
                <p><a class="btn btn-lg btn-primary" routerLink="/about-us" role="button">Learn more</a></p>
              </div>
            </div>
          </ng-template>
          <ng-template ngbSlide>
            <img src="assets/images/n3.jpg" width="100%" height="500"
              class="bd-placeholder-img"
              preserveAspectRatio="xMidYMid slice">
             <div class="container">
              <div class="carousel-caption text-left">
                <h1>Pythagoras</h1>
                <p>Choose only one master—nature.Leave the roads; take the trails.</p>
                <p><a class="btn btn-lg btn-primary" routerLink="/galary" role="button">View Galary</a></p>
              </div>
            </div>
          </ng-template>
          <ng-template ngbSlide>
            <img src="assets/images/n4.jpg" width="100%" height="500"
            class="bd-placeholder-img"
            preserveAspectRatio="xMidYMid slice"><div class="container">
              <div class="carousel-caption">
                <h1>Carl Sagan</h1>
                <p>Preserve and cherish the pale blue dot, the only home we've ever known.I think Nature's imagination is so much greater than man's, she's never gonna let us relax!</p>
                <p><a class="btn btn-lg btn-primary" routerLink="/about-us" role="button">Learn more</a></p>
              </div>
            </div>
          </ng-template>
          <ng-template ngbSlide>
            <img src="assets/images/n5.jpg" width="100%" height="500"
            class="bd-placeholder-img"
            preserveAspectRatio="xMidYMid slice"> <div class="container">
              <div class="carousel-caption text-right">
                <h1>Syliva Plath</h1>
                <p>I felt my lungs inflate with the onrush of scenery—air, mountains, trees, people. I thought, 'This is what it is to be happy.'</p>
                  <p><a class="btn btn-lg btn-primary" routerLink="/galary" role="button">Browse gallery</a></p>
              </div>
            </div>
          </ng-template>
          <ng-template ngbSlide>
            <img src="assets/images/n6.jpg" width="100%" height="500"
            class="bd-placeholder-img"
            preserveAspectRatio="xMidYMid slice"> <div class="container">
              <div class="carousel-caption">
                <h1>Elisabeth Kübler-Ross</h1>
                <p>Should you shield the canyons from the windstorms you would never see the true beauty of their carvings.</p>
                <p><a class="btn btn-lg btn-primary" routerLink="/about-us" role="button">About Nature</a></p>
              </div>
            </div>
          </ng-template>
      </ngb-carousel>
  </div>

</div>
<br>
<br>
<div class="container marketing">

  <!-- Three columns of text below the carousel -->
  <div class="row" >
    <div class="col-lg-4">
      <img src="assets/images/1.jpg" width="140" height="140" class="bd-placeholder-img rounded-circle">
      <h2>Thoughts</h2>
      <p>"Look deep into nature, and then you will understand everything better. It is simply unbelievable how happy flowers are.Just living is not enough. One must have sunshine, freedom, and a little flower."</p>
      <p><a class="btn btn-primary" routerLink="/galary" role="button">View Galary &raquo;</a></p>
    </div><!-- /.col-lg-4 -->
    <div class="col-lg-4">
      <img src="assets/images/2.jpg" width="140" height="140" class="bd-placeholder-img rounded-circle">
      <h2>Poems</h2>
      <p> "Wherever you go, no matter what the weather, always bring your own sunshine.Nature is pleased with simplicity. And nature is no dummy. It is simply unbelievable how happy flowers are.Isaac Newton"</p>
      <p><a class="btn btn-primary" routerLink="/galary" role="button">View Galary &raquo;</a></p>
    </div><!-- /.col-lg-4 -->
    <div class="col-lg-4">
      <img src="assets/images/3.jpg" width="140" height="140" class="bd-placeholder-img rounded-circle">
      <h2>Stories</h2>
      <p>"Look at the trees, look at the birds, look at the clouds, look at the stars and if you have eyes you will be able to see that the whole existence is joyful.Look at the flowers they are beautiful."</p>
      <p><a class="btn btn-primary"  routerLink="/galary" role="button" >View Galary &raquo;</a></p>
    </div><!-- /.col-lg-4 -->
  </div><!-- /.row -->


  <!-- START THE FEATURETTES -->

  <hr class="featurette-divider">

  <div class="row featurette">
    <div class="col-md-7">
      <h2 class="featurette-heading">Have a look at this <span  style="color:floralwhite">It’ll blow your mind.</span></h2>
      <p class="lead">"Look deep into nature, and then you will understand everything better. It is simply unbelievable how happy flowers are.Just living is not enough. One must have sunshine, freedom, and a little flower."</p>
    </div>
    <div class="col-md-5">
       <img src="assets/images/4.jpg" width="500" height="500" class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" preserveAspectRatio="xMidYMid slice">
    </div>
  </div>

  <hr class="featurette-divider">

  <div class="row featurette">
    <div class="col-md-7 order-md-2">
      <h2 class="featurette-heading">Oh yeah, it’s that good. <span  style="color:floralwhite">See for yourself.</span></h2>
      <p class="lead">"Look deep into nature, and then you will understand everything better. It is simply unbelievable how happy flowers are.Just living is not enough. One must have sunshine, freedom, and a little flower."</p>
    </div>
    <div class="col-md-5 order-md-1">
      <img src="assets/images/5.jpg" width="500" height="500" class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" preserveAspectRatio="xMidYMid slice">
    </div>
  </div>

  <hr class="featurette-divider">

  <div class="row featurette">
    <div class="col-md-7">
      <h2 class="featurette-heading">And lastly, this one. <span  style="color:floralwhite">Checkmate.</span></h2>
      <p class="lead">"Look deep into nature, and then you will understand everything better. It is simply unbelievable how happy flowers are.Just living is not enough. One must have sunshine, freedom, and a little flower."</p>
    </div>
    <div class="col-md-5">
      <img src="assets/images/6.jpg" width="500" height="500" class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" preserveAspectRatio="xMidYMid slice">
      </div>
  </div>

  <hr class="featurette-divider">

  <!-- /END THE FEATURETTES -->

</div><!-- /.container -->
