<div class="header">
  <h1>Nature's Galary</h1>
</div>

<!-- Photo Grid -->
<div class="row">
  <div class="column">
    <img src="assets/images/1.jpg" style="width:100%">
    <img src="assets/images/2.jpg" style="width:100%">
    <img src="assets/images/3.jpg" style="width:100%">
    <img src="assets/images/4.jpg" style="width:100%">
    <img src="assets/images/5.jpg" style="width:100%">
    <img src="assets/images/6.jpg" style="width:100%">
    <img src="assets/images/7.jpg" style="width:100%">
  </div>
  <div class="column">
    <img src="assets/images/n2.jpg" style="width:100%">
    <img src="assets/images/n3.jpg" style="width:100%">
    <img src="assets/images/n4.jpg" style="width:100%">
    <img src="assets/images/n5.jpg" style="width:100%">
    <img src="assets/images/n6.jpg" style="width:100%">
    <img src="assets/images/11.jpg" style="width:100%">
  </div>
  <div class="column">
    <img src="assets/images/8.jpg" style="width:100%">
    <img src="assets/images/n1.jpg" style="width:100%">
    <img src="assets/images/1.jpg" style="width:100%">
    <img src="assets/images/2.jpg" style="width:100%">
    <img src="assets/images/3.jpg" style="width:100%">
    <img src="assets/images/4.jpg" style="width:100%">
    <img src="assets/images/5.jpg" style="width:100%">
  </div>
  <div class="column">
    <img src="assets/images/6.jpg" style="width:100%">
    <img src="assets/images/n3.jpg" style="width:100%">
    <img src="assets/images/n4.jpg" style="width:100%">
    <img src="assets/images/n5.jpg" style="width:100%">
    <img src="assets/images/n6.jpg" style="width:100%">
    <img src="assets/images/11.jpg" style="width:100%">
  </div>
</div>
